.navbarContainer {
    position: fixed;
    top: 81px;
    width: 100%;
    z-index: 1000;
}

.hero1 {
    background-image: url(/public//Images/ticketshero1.png);
    background-size: cover;
}

.hero1img {
    width: 100%;
    mix-blend-mode: color;
}

.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(20, 8, 37);
    background: linear-gradient(180deg, rgba(20, 8, 37, 1) 12%, rgba(31, 18, 49, 1) 26%);
}

.herohead {
    margin-top: 80px;
    font-size: 60px;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
}

.cardsec {
    position: relative;
}

.cardholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.totaldiv {
    background-image: url(/public//Images/cardbgtest.png);
    width: 1222px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    padding-top: 20px;
    align-items: center;
    font-family: "Georama", sans-serif;
    color: #F42973;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 1px 9px 37px 13px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 9px 37px 13px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 9px 37px 13px rgba(0, 0, 0, 0.8);
}

.price {
    height: 40px;
    border-radius: 40px;
    background-color: #4E3D63;
    color: white;
    width: 100px;
    padding-left: 40px;
    padding-top: 5px;
}







@media(max-width:1025px){
    .totaldiv{
        width: 100%;
    }
}



@media(max-width:769px) {
    .herohead {
        font-size: 40px;
        width: 70%;
        margin-top: 20px;
    }
}

@media (max-width:426px) {
    .hero1 {
        margin-top: 80px;
    }

    .herohead {
        font-size: 30px;
        width: 70%;
        margin-top: 20px;
    }

    .cardsec img {
        height: 3800 px;

    }
    .totaldiv{
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .price{
        padding-top: 0px;
        padding-left: 20px;
        padding-bottom: 5px;
    }
}