/* .cardmaindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1169px;
    height: 427px;
    margin: auto;
    background-color: #380E68;
    border-radius: 20px;
    position: relative;
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    font-family: "Georama", sans-serif;
    font-size: 22px ;
    font-weight: 300;
    width: 537px;
    height: 285px;
    color: white;
    margin-left:50px ;
}


.cardimgWrapper {
    position: absolute;
    top: -15%;
    right: -5%;
    background-color: #380E68;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.cardimgBg {
    background-color: #EE266F;
    width: 499px;
    height: 427px;
    border-radius: 20px;
    position: absolute;
    top:-25%;
    left: 65%;
    z-index: 0;
} */

.cardmaindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1169px;
    height: 427px;
    margin: auto;
    background-color: #380E68;
    border-radius: 20px;
    position: relative;
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Georama", sans-serif;
    font-size: 22px;
    font-weight: 300;
    width: 537px;
    height: 285px;
    color: white;
    margin-left: 50px;
}


.cardimgWrapper {
    position: absolute;
    top: -15%;
    right: -5%;
    background-color: #380E68;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.cardimgBg {
    background-color: #EE266F;
    width: 499px;
    height: 427px;
    border-radius: 20px;
    position: absolute;
    top: -25%;
    left: 65%;
    z-index: 0;
}



@media (max-width: 1024px) {
    .cardmaindiv {
        width: 90%;
        height: auto;
        /* Adjust height to auto for flexibility */
        flex-direction: column;
        /* Reverse flex direction for smaller screens */
        justify-content: space-between;
        /* Align content to the top */
    }

    .cardtext {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-left: 0;
        text-align: center;

    }

    .cardimgWrapper {
        position: relative;
        top: auto;
        right: auto;

    }

    .cardimg {
        width: 90%;
        margin: auto;
    }

    .cardimgBg {
       display: none    ;
    }
}