.backgroundContainer {
    position: relative;
}

.backgroundImage {
    width: 100%;
    height: auto;
    display: block;
}

.navbarContainer {
    position: fixed;
    top: 81px;
    width: 100%;
    z-index: 1000;
}

.anotherImage {
    position: absolute;
    top: 55%;
    left: 20%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}


.textOverlay {
    position: absolute;
    top: 60%;
    left: 34%;
    color: white;
    font-size: 38px;
    font-family: "Georama", sans-serif;
    font-weight: 500;
}

.textOverlay2 {
    position: absolute;
    top: 66%;
    left: 43.7%;
    color: white;
    font-size: 20px;
    font-family: "Georama", sans-serif;
    font-weight: 100;
}

.hero2 {
    width: auto;
    height: 1016px;
    background: rgb(31, 18, 49);
    background: linear-gradient(180deg, rgba(31, 18, 49, 1) 0%, rgba(31, 18, 49, 1) 56%, rgba(238, 38, 111, 1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


}

.hero2 p {
    font-family: "Georama", sans-serif;
    color: #FFFF;
    font-weight: 100;
    font-size: 20;
    text-align: center;
}

.hero3 {
    margin-top: -150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.hero3textoverlay {
    font-size: 60px;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;
    position: absolute;
    top:10%;
    left: 33%;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    display: flex;
    justify-content: center;
    
}

.cardholder{
    position: absolute;
    top: 35%;
}

.button{
    width: 192.5px;
    height: 23px;
    border-radius: 20px;
    background-color:#FFAECC ;
    color: white;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    bottom: 5%;
    font-family: "Georama", sans-serif;
    font-size: 19;
    background-color: rgba(255, 174, 204, 0.5); 
    
}


.hero4{
    width: 1583px;
    height: 1353px;
    background: rgb(31, 18, 49);
    background: linear-gradient(0deg,rgb(0, 0, 0)0%, rgba(31, 18, 49, 1) 19%, rgba(31, 18, 49, 1) 80%, rgb(238, 38, 111) 100%); 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}

.hero4head h1{
    font-size: 60px;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;

}

.hero4head p{
    text-align: center;
    font-size: 20px;
    font-family: "Georama", sans-serif;
    color: #FFFF;
    font-weight: 200;   
}

.cardsection{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.txtbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.txtbtn p {
    color: #FFFF;
    font-size: 20px;
    font-weight:400;
    font-family: "Georama", sans-serif;
}

.button2{
    width: 165px;
    height: 37px;
    border-radius: 20px;
    background-color:#FFAECC ;
    color: white;
    text-align: center;
    border: 1px solid white;
    /* position: absolute;
    bottom: 5%; */
    font-family: "Georama", sans-serif;
    /* background:transparent; */
    font-size: 19;
    background-color: rgba(255, 174, 204, 0.5); 
    margin-top: 20px;
}