.backgroundContainer {
    position: relative;
}

.backgroundImage {
    width: 100%;
    height: auto;
    display: block;
}

.navbarContainer {
    position: fixed;
    top: 81px;
    width: 100%;
    z-index: 1000;
}

.anotherImage {
    position: absolute;
    top: 55%;
    left: 20%;

}


.textOverlay {
    position: absolute;
    top: 60%;
    left: 34%;
    color: white;
    font-size: 38px;
    font-family: "Georama", sans-serif;
    font-weight: 500;
}

.textOverlay2 {
    position: absolute;
    top: 66%;
    left: 43.7%;
    color: white;
    font-size: 20px;
    font-family: "Georama", sans-serif;
    font-weight: 100;
}

.hero2 {
    width: auto;
    height: 1016px;
    background: rgb(31, 18, 49);
    background: linear-gradient(180deg, rgba(31, 18, 49, 1) 0%, rgba(31, 18, 49, 1) 56%, rgba(238, 38, 111, 1) 100%);
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;

}

.hero2 p {
    font-family: "Georama", sans-serif;
    color: #FFFF;
    font-weight: 100;
    font-size: 20;
    text-align: center;
}

.hero3 {
    margin-top: -150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}





.hero3textoverlay {
    font-size: 60px;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;
    position: absolute;
    top: 10%;
    left: 33%;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    display: flex;
    justify-content: center;

}

.cardholder {
    position: absolute;
    top: 35%;
}

.button {
    width: 192.5px;
    height: 23px;
    border-radius: 20px;
    background-color: #FFAECC;
    color: white;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    bottom: 5%;
    font-family: "Georama", sans-serif;
    font-size: 19;
    background-color: rgba(255, 174, 204, 0.5);

}


.hero4 {
    width: 100%;
    height: 100%;
    background: rgb(31, 18, 49);
    background: linear-gradient(0deg, rgb(0, 0, 0)0%, rgba(31, 18, 49, 1) 19%, rgba(31, 18, 49, 1) 80%, rgb(238, 38, 111) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 100px;
    align-items: center;
}

.hero4head h1 {
    font-size: 60px;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;
    margin-top: 70px;
}

.hero4head p {
    text-align: center;
    font-size: 20px;
    font-family: "Georama", sans-serif;
    color: #FFFF;
    font-weight: 200;
}

.cardsection {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.txtbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.txtbtn p {
    color: #FFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: "Georama", sans-serif;
}

.button2 {
    width: 165px;
    height: 37px;
    border-radius: 20px;
    background-color: #FFAECC;
    color: white;
    text-align: center;
    border: 1px solid white;
    font-family: "Georama", sans-serif;
    font-size: 19;
    background-color: rgba(255, 174, 204, 0.5);
    margin-bottom: 80px;
}


.hero5 {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 100%, rgba(29, 8, 53, 1) 100%, rgba(30, 7, 58, 1) 100%);
    color: wheat;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.hero5head {
    position: absolute;
    top: 5%;
    text-align: center;
}

.hero5head h1 {
    font-size: 60px;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;
}

.hero5head p {
    font-size: 20px;
    font-family: "Georama", sans-serif;
    color: #FFFF;
    font-weight: 200;
}

.cardsdiv {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 190px;
}

.btndiv {
    position: absolute;
    bottom: 5%;
}

.card1 p {
    font-size: 18px;
}


.hero6 {
    background-image: url(/public/Images/hero6bgimg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero6heading {
    font-size: 60px;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    background: rgb(215, 182, 255);
    background: linear-gradient(103deg, rgba(215, 182, 255, 1) 0%, rgba(255, 113, 165, 1) 100%);
    background-clip: text;
    color: transparent;
    width: 50%;
    text-align: center;
    margin: auto;
    position: absolute;
    margin-top: 100px;
}

.hero6anniversary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 30px;
    position: absolute;
    bottom: 30%;
}

.hero6anniversary p {
    font-size: 20px;
    font-family: "Georama", sans-serif;
    color: #FFFF;
    font-weight: 200;
}








@media (max-width: 1024px) {
    .anotherImage {
        top: 50%;
        left: 3%;
        border-radius: 70px;
        width: 95%;
        height: 60%;

    }

    .backgroundContainer {
        width: 100%;
        height: 500px;
    }

    .backgroundImage {
        height: 100%;
        object-fit: cover;
    }

    .textOverlay {
        font-size: 30px;
        text-align: center;
        top: 55%;
        left: 5%;
        line-height: 30px;
    }

    .textOverlay2 {
        font-size: 15px;
        top: 68%;
        left: 25%;
        font-weight: 400;
    }

    .hero2 {
        height: 600px;
    }

    .hero2 p {
        margin-top: 20px;
    }

    .hero3textoverlay {
        font-size: 40px;
        top: 5%;
        right: 0%;
        left: 0%;
        text-align: center;
    }

    .herobgimg {
        height: 1000px;
    }

    .cardholder {
        position: absolute;
        top: 20%;

    }

    .button {
        position: absolute;
        /* Change position to static for normal flow */
    }

    .hero4 {
        gap: 10px;
    }

    .hero4head h1 {
        text-align: center;
        font-size: 40px;
    }

    .cardsection {
        flex-direction: column;
    }

    .txtbtn p {
        text-align: center;
    }

    .hero6mainimg {
        height: 1000px;

    }

    .hero6heading {
        font-size: 20px;   
        margin-top: 20px;    
    }

    .hero6anniversary{
        flex-direction: column;
        width: 90%;
    }

    .hero6anniversary p {
        font-size: 15px;
        text-align: center;
        font-weight: 400;
    }

    .hero6anniversary img {
        width: 100px;
        bottom: auto;
        top: auto;
    }
}