.footersections{
    width: 1573px;
    height: 518px;
}

.footerimages{
    position: relative;
    width: 100%;
    height: 100%;
}


.sceneryimage,
.coloroverlayimage{
    position: absolute;
    object-fit: cover;
    width: 1573px;
    height: 100%;
}

.coloroverlayimage{
    mix-blend-mode: multiply;
}