.cardmain{
    width: 365px;
    height: 566px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name{
    font-size: 38px;
    font-family: "Georama", sans-serif;
    color: #FFB1CE;
    width: 175px;
    height: auto;
    line-height: 35px;
}

.title{
    font-family: "Georama", sans-serif;
    color: #FFB1CE;
    font-size: 25;
    font-weight:300;
}

@media (max-width:1024px){
    .cardmain img{
        width: 80%;
        margin: auto;
    }
}